extends ../layout

block content
  h1= title
  p.lead
    | Here are the templates that are currently in the database.  Feel free to 
    a(href="/templates/new") create a new one
    | .
  table.table.table-striped
    thead
      tr
        th Name
        th Available for use?
        th 
        th
    for record in records
      tr
        td= record.name
        td= record.availableForUse
        td: a(href="/templates/#{record.id}") View
        td: a(href="/templates/#{record.id}/edit") Edit