extends ../layout

block content
  .page-header
    h1= title
    p.lead
      | Tweak this query to determine the challenges returned.

  form.form-horizontal(role='form', action="/challenges/#{record.id}" method='POST')
    input(type='hidden', name='_csrf', value=token)
    input(type='hidden', name='_method', value='PUT')
    .form-group
      label(class='col-sm-2 control-label', for='name') Name
      .col-sm-8
        input.form-control(type='text', name='name', id='name', value=record.name)   
    .form-group
      label(class='col-sm-2 control-label', for='description') Short Description
      .col-sm-8
        input.form-control(type='text', name='description', id='description', value=record.description)  
    .form-group
      label(class='col-sm-2 control-label', for='query') Query
      .col-sm-9
        textarea.form-control(type='text', name='query', id='query', rows='5')
          =record.query
    .form-group
      label(class='col-sm-2 control-label', for='availableForUse') Available for use?
      .col-sm-2
        select.form-control(type='text', name='availableForUse', id='availableForUse')
          option(value="true") Yes
          option(value="false", selected=record.availableForUse === false) No
    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-default(type='submit')
          | Save